body {
    background-repeat: repeat;
    background-size: auto;
}

table.search-results {
    width: 80%;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 2px solid #008CBA;
    box-shadow: 4px 4px 4px #999999;
}

tr.search-results:nth-child(even) {
    background: white;
}

tr.search-results:nth-child(odd) {
    background: #e8e8e8;
}

th.search-results {
    background-color: #008CBA;
    color: white;
    padding: 5px;
    padding-left: 12px;
    font-size: medium;
}

td.search-results {
    padding: 5px;
    padding-left: 12px;
}

td.search-results a:link {
    color: #008CBA;
}

td.search-results a:visited {
    color: #800080;
}

div.panel-edit-search-settings {
    width: 480px;
    border-color: #008CBA;
    border-width: 2px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #999999;
}

input[type="submit"] {
    background-color: #008CBA;
    border-color: #008CBA;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

table.edit_settings {
    margin-bottom: 10px;
}

table.edit_settings td {
    padding: 8px;
    vertical-align: top;
}

.edit_settings_inputs_line_up_on_right {
    width: 200px;
}
